@import './_util';
@import 'projects/doyen-lib/node_modules/foundation-sites/dist/css/foundation.min.css';
a, button{
    &.button{
        margin-bottom: 0;
    }
}
.bd-title{  

}
.bd-body-1{

}
.bd-body-2{

}
.bd-subheading-1{

}
.bd-subheading-2{

}
.bd-typography{
    h1{

    }
    h2{

    } 
    h3{

    }
    h4{
 
    }
    h6{

    }
    h6{

    }
}
button, a{
    &[disabled]{
        pointer-events: none;
    }
}

@media screen and (max-width: 39.9375em) {
    .button.small-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .button.medium-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 63.9375em) {
    .button.medium-down-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media print, screen and (min-width: 40em) {
    .button.medium-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .button.large-only-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media screen and (max-width: 74.9375em) {
    .button.large-down-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
  @media print, screen and (min-width: 64em) {
    .button.large-expanded {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }
