@import './_util';

.bd-title{

}
.bd-body-1{

}
.bd-body-2{

}
.bd-subheading-1{

}
.bd-subheading-2{

}
.bd-typography{
    h1{

    }
    h2{

    }
    h3{

    }
    h4{

    }
    h6{

    }
    h6{

    }
}
